.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  height: 50px;
  padding-top: 15px;
}
.app_searchForm{
  padding-top: 20px;
}
.enter{
  padding: 3px 30px;
  border-radius: 10px;
  border-color: rgb(189, 173, 173);
}
.search{
  padding: 3px 20px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
  background: orange;
  border-color: orange;
  border-radius: 20px;
}
.search:hover{
  color: orange;
  background: white;
}
